<h3>FUTURE EVENTS</h3>
<% Event.future.each do |event| %>
<div class="event">
    <p>title: <%= event.title %></p>
    <p>description: <%= event.description %></p>
    <p>location: <%= event.location %></p>
    <p>date: <%= event.date_time %></p>
    <p><%= link_to "Learn More", event %></p>
</div>
<% end %>

<h3>PAST EVENTS</h3>
<% Event.past.each do |event| %>
<div class="event">
    <p>title: <%= event.title %></p>
    <p>description: <%= event.description %></p>
    <p>location: <%= event.location %></p>
    <p>date: <%= event.date_time %></p>
    <p><%= link_to "Learn More", event %></p>
</div>
<% end %>