<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav class='navbar'>
      <ul>
        <li><%= check_sign_up %></li>
        <li><%= check_log_out %></li>
        <li><%= check_sign_in %></li>
      </ul>
      <div>
        <%= create_new_event %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
